/* .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  /* .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }*/
  /* #setings {
    visibility: hidden;
    border-style: solid;
}   */
body {
  margin: 0;
  position: relative;
  /* background-image: url(backgraund.png);
  background-size: cover;  /*Užima visą ekrano plotį ir aukštį */
   /* background-attachment: fixed; Fono paveiksliukas lieka pritvirtintas net slenkant puslapiu */ 
   /* cursor: none; */
}

#ekranas {
  position: fixed;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  /* align-items: center; */

}
#codeplace{
  border-radius: 5px; 
  position: fixed;
  place-items: center;
  height: 30px;
  width: 150px;
  background-color: rgba(0, 0, 0, 0.7);
  color: rgba(255, 255, 255, 0.7);
  border-width: 0px;
  top: 0;
}
#ahis {
  position: absolute;
top: 20px; /* Nustatykite norimą vertikalią poziciją */
left: 20px; /* Nustatykite norimą horizontalią poziciją */
background-color: rgba(82, 82, 82, 0.7); /* 0.7 - dalinai permatoma spalva */
padding: 10px;
border: 3px solid #000;
border-radius: 5px; 
}
#uzd {
  position: absolute;
top: 20px; /* Nustatykite norimą vertikalią poziciją */
left: 85vw; /* Nustatykite norimą horizontalią poziciją */
background-color: rgba(82, 82, 82, 0.7); /* 0.7 - dalinai permatoma spalva */
padding: 10px;
border: 3px solid #000;
border-radius: 5px; 
}
.ac{    
  text-align: center;
    line-height: 1vh;
    color: rgb(228, 227, 227);
   }
.act{    
    /* text-align: center; */
      line-height: 1vh;
      color: rgb(228, 227, 227);
     }
      /* body {
      cursor: url('pelyte1.png'),auto; 
}
       */

